* {
    box-sizing: border-box;
    font-family: Tahoma, serif;
}

body {
    margin: 0;
    text-align: center;
    height: 100vh;
    background-color: black;
}


header {
    display: flex;
    flex-direction: column;
}

.container {
    display: grid;
}

.image_box {
    grid-column: 1;
    grid-row: 1;
    padding-right: 800px;
}

.text_box {
    grid-column: 1;
    grid-row: 1;
    padding-top: 100px;
}

h1 {
    color: white;
    text-transform: uppercase;
}

p {
    color: white;
}

img {
    max-width: 100%;
}

/*NAVIGATION BAR*/

.navigation_bar{
    position: static;
    display: block;
    width: 100vw;
}

ul.top_nav {
    list-style-type: none;
    margin: 0;
    padding: 20px 15px;
    overflow: hidden;
    text-align: center;
    opacity: 0.8;
    font-size: 20px;
}

ul.top_nav li {
    display: inline;
    margin: 0;
}

ul.top_nav li a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    float: right;
}

ul.top_nav li a:hover {
    border-bottom:white solid 2px;
}

/* RESPONSIVE DESIGN; mobile view */
@media only screen and (max-width: 600px) {
    ul.top_nav li a, ul.top_nav_index li a {
        display: block;
        font-size: 100%;
    }
}