* {
    box-sizing: border-box;
    font-family: Tahoma, serif;
}

body {
    margin: 0;
    text-align: center;
    height: 100vh;
    background-color: rgb(48, 48, 48);
}

/* Picture/text system*/
.image1 {
    grid-area: image1;
  }
  
  .image2 {
    grid-area: image2;
  }
  
  .text1 {
    grid-area: text1;
  }
  
  .text1 p {
    margin-left: -30px;
    padding: 20px;
  }
  
  .text2 p {
    margin-left: 30px;
    padding: 20px;
  
  }
  
  .text1 p, .text2 p {
    height: 300px;
    width: 450px;
    margin-top: -30px;
    background-color: rgba(0,180,189,0.6);
    position: absolute;
  }
  
  .text2 {
    grid-area: text2;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 900px;
    margin: 50px auto;
    row-gap: 150px;
    grid-template-areas: 
      "image1 text1" 
      "text2 image2";
  }
  
  .grid img {
    height: 300px;
    width: 450px;
  }


header {
    display: flex;
    flex-direction: column;
}

.container {
    display: grid;
}

/*
.image_box {
    grid-column: 1;
    grid-row: 1;
    padding-right: 700px;
    padding-left: 300px;
}

.text_box {
    grid-column: 1;
    grid-row: -1;
    padding-bottom: 200px;
    padding-left: 600px;
    width: 80%;
}
*/

.index_background {
    background-image: url(Images/kveldsol.jpg);
    min-height: 800px;
    background-repeat: no-repeat;
    background-position: center center;
    
    background-size: cover;}

h1 {
    color: white;
    text-transform: uppercase;
}

p {
    color: white;
    background-color: rgba(15, 15, 15, 0.5);
    margin: 30px 30px 30px 30px;
}

img {
    max-width: 100%;
}

/*NAVIGATION BAR*/

.navigation_bar{
    position: static;
    display: block;
    width: 100vw;
}

ul.top_nav {
    list-style-type: none;
    margin: 0;
    padding: 20px 15px;
    overflow: hidden;
    text-align: center;
    opacity: 0.8;
    font-size: 20px;
}

ul.top_nav li {
    display: inline;
    margin: 0;
}

ul.top_nav li a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    float: right;
}

ul.top_nav li a:hover {
    border-bottom:white solid 2px;
}

/* RESPONSIVE DESIGN; mobile view */
@media only screen and (max-width: 600px) {
    ul.top_nav li a, ul.top_nav_index li a {
        display: block;
        font-size: 100%;
    }
}