* {
    box-sizing: border-box;
    font-family: Tahoma, serif;
}

body {
    margin: 0;
    text-align: center;
    height: 100vh;
    background-color: #FFCC00;
}





/* INDEX PAGE */
.container__index{
    padding-top: 100px;
    margin: 0 auto;
    display: block;
    width: 80vw;
    height: 100vh;
}

.box1, .box2{
    width: 30vw;
    height: fit-content;
    background-color: #FFCC00;
    border-radius: 10px;
    opacity: 0.8;
    text-align: left;
}

.box1{
    margin-left: 25vw;
    float: right;
}

.box2{
    float: left;
    margin-right: 25vw;
}

.heading_index{
    text-transform: uppercase;
    font-size: 50px;
}







/* CONTAINERS ON ALL PAGES (except index) */
.container{
    background-color: white;
    width: 60%;
    height: 300px;
    border-radius: 30px;
    margin: 50px auto auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    opacity: 0.8;
    overflow: hidden;
}

footer{
    background-color: orange;
    height: 20vh;
    clear: left;
}





/* NAVIGATION BAR */
ul.top_nav {
    list-style-type: none;
    margin: 0;
    padding: 20px 0;
    overflow: hidden;
    text-align: center;
    background-color: white;
    font-size: 20px;
}

ul.top_nav li {
    display: inline;
    margin: 0;
}

ul.top_nav li a {
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    float: right;
}

ul.top_nav li a:hover {
    border-bottom: white solid 2px;
}






/* RESPONSIVE DESIGN; mobile view */
@media only screen and (max-width: 600px) {
    ul.top_nav li a, ul.top_nav_index li a {
        display: block;
        font-size: 100%;
    }

}